---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {% for image in page.images %}  
      {% capture image_placeholder %}
      <a href="{{ site.assets }}{{ image.image_path }}" data-lightbox="gallery" data-title="{{ image.caption }}">
      <img class="col one" src="{{ site.assets }}{{ image.image_path }}" alt="{{ image.caption }}" />
      </a>
      {% endcapture %}
      {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 1 %}
          <div class="img_row">
          {{ image_placeholder }}
          {% elsif loopindex == 2 %}
          {{ image_placeholder }}
          {% else %}
          {{ image_placeholder }}
          </div>
      {% endif %}
    {% endfor %}

{{ content }}
  </article>

</div>

<script src="{{ site.baseurl }}/js/lightbox-plus-jquery.js"></script>
